<!-- <form class="" action="/users" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username</label>
  <input type="text" name="user[username]" value=""><br>
  <label for="email">Email</label>
  <input type="email" name="user[email]" value=""><br>
  <label for="password">Mot de passe</label>
  <input type="password" name="user[password]" value=""><br>
  <button type="submit" name="button">Envoyer</button>
</form> -->

<% if false %>

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email:") %>
  <%= email_field_tag(:email) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Search") %>
<% end %>

<% end %>


<%= form_for(@user) do |f| %>
    <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
    <%= f.label :username, "Your username" %><br />
    <%= f.text_field :username, value: @user.username %><br>
    <%= f.label :email, "Your Email" %><br />
    <%= f.email_field :email, placeholder: "eg: david@oschool.ci", value: @user.email %><br>
    <%= f.label :password %><br />
    <%= f.password_field :password %><br>
    <%= f.submit %>
<% end %>
